<div class="card">
  <div class="card-header">
    <div class="fa fa-book"></div>
    <%= link_to course.title, course_path(course) %>
  </div>
  <div class="card-body">
    <%= course.description %>
  </div>
  <div class="card-footer">
    <div class="far fa-clock"></div>
    <%= course.created_at.strftime('%d-%b-%Y') %>
    <div class="row"></div>
    <div class="fa fa-chalkboard-teacher"></div>
    <%= course.user %>
  </div>
  <div class="card-footer">
    <%= link_to 'View', course, class: 'btn btn-sm btn-primary text-white' %>
    <%= link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-info text-white' %>
    <%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger text-white' %>
  </div>
</div>